@model RegexTester.Controllers.RegexViewModel
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <div class="container">
        <div class="jumbotron">
            <h1>.NET Regular Expression Tester</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Input a Regex pattern</h2>
                @Html.TextAreaFor(m => m.Regex, 
                            new
                            {
                                rows = 4,
                                cols = 90
                            })
            </div>
            <div class="col-md-6">
                <h2>Input text to match</h2>
                @Html.TextAreaFor(m => m.TextToMatch, 
                            new
                            {
                                rows = 4,
                                cols = 90
                            })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Matches from input text</h2>
                @Html.DisplayFor(m => m.Results)
            </div>
            <div class="col-md-6">
                <h2>Sample matches <small><a href="https://github.com/moodmosaic/Fare" target="_blank"><i class="glyphicon glyphicon-info-sign"></i></a></small></h2>
                @Html.DisplayFor(m => m.Examples, "EnumerableString")
            </div>
        </div>
        <div class="row">
            <br/>
            <button type="submit" class="btn btn-lg btn-primary">
                <i class="glyphicon glyphicon-search"></i> Match!
            </button>
        </div>
    </div>
}